[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
fastapi = "*"
packages = "*"
redis = "*"
fastapi-utils = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.uvicorn]
extras = [ "standard",]
version = "*"

[packages.strawberry-graphql]
extras = [ "fastapi",]
version = "*"
