[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
strawberry-graphql = {extras = ["fastapi"], version = "*"}
packages = "*"
redis = "*"
fastapi-utils = "*"

[dev-packages]

[requires]
python_version = "3.10"
